body {
  color: #020015;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 2.5rem;
  text-align: center;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #002121;
  color: #fff;
  border-radius: 5px;
}

.button-link:hover {
  background-color: #001212;
}

img {
  width: 250px;
  border-radius: 5px;
  box-shadow: 5px 5px lightblue;
}

#confetti {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  height: 100%;
  position: absolute;
  top: 0;
}
